* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
textarea {
  all: unset;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
  background-color: #e1e8eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  top: 0;
  position: absolute;
  z-index: -1;
  height: 254px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(101, 0, 163, 0.9),
      rgba(24, 120, 175, 0.9)
    ),
    url("public/images/cloud-background.avif");
}
.first-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffffe0;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.first-heading--special {
  font-weight: 500;
}
.container {
  width: 1050px;
  height: 520px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  display: flex;
  overflow: hidden;
}
.textarea {
  resize: none;
  flex: 2;
  font: inherit;
  padding: 30px 40px;
}
.textarea::placeholder {
  font-weight: 500;
  color: #333;
}
.stats {
  flex: 1.3;
  background-color: rgb(246, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.stat {
  flex: 1 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stat:nth-child(1),
.stat:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.stat:nth-child(2),
.stat:nth-child(4) {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.footer {
  width: 1050px;
}
.copyright {
  display: flex;
  justify-content: space-between;
}
.footer__text {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  margin: 20px 0;
}
