* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #333;
  background-color: #e1e8eb;
  display: flex;
}
.background {
  top: 0;
  position: absolute;
  z-index: -1;
  height: 254px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(101, 0, 163, 0.9),
      rgba(24, 120, 175, 0.9)
    ),
    url("public/images/cloud-background.avif");
}
.first-heading {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffffe0;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.first-heading--special {
  font-weight: 500;
}
.container {
  width: 1050px;
  height: 520px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}
